# #1) Prepare a classification model using Naive Bayes for salary data

In [32]:
import pandas as pd
import numpy as np

In [33]:
salary_train=pd.read_csv("SalaryData_Train.csv")

In [34]:
salary_test=pd.read_csv("SalaryData_Test.csv")

In [35]:
##Handling categorical Coloumns by using Label encoder##
string_columns=["workclass","maritalstatus","occupation","relationship","education","race","sex","native"]

In [36]:
from sklearn.preprocessing import LabelEncoder
number=LabelEncoder()

In [37]:
for i in string_columns:
    salary_train[i]=number.fit_transform(salary_train[i])
    salary_test[i]=number.fit_transform(salary_test[i])

In [38]:
x_train=salary_train.iloc[:,0:12]
y_train=salary_train.iloc[:,13]
x_test=salary_test.iloc[:,0:12]
y_test=salary_test.iloc[:,13]

In [39]:

#######Importing the navies bayes function######
from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [40]:
classifiers_mb=MB()
classifiers_mb.fit(x_train,y_train)
train_pred_mb=classifiers_mb.predict(x_train)
train_accu_mb=np.mean(train_pred_mb==y_train)##77%
pd.crosstab(train_pred_mb,y_train)

Salary   <=50K   >50K
row_0
 <=50K   21717   5913
 >50K      936   1595

In [41]:
test_pred_mb=classifiers_mb.predict(x_test)
test_accu_mb=np.mean(test_pred_mb==y_test)##77%
pd.crosstab(test_pred_mb,y_test)

Salary   <=50K   >50K
row_0
 <=50K   10891   2920
 >50K      469    780

In [42]:
classifiers_gb=GB()
classifiers_gb.fit(x_train,y_train)
train_pred_gb=classifiers_gb.predict(x_train)
train_accu_gb=np.mean(train_pred_gb==y_train)##80%
pd.crosstab(train_pred_gb,y_train)

Salary   <=50K   >50K
row_0
 <=50K   21506   5040
 >50K     1147   2468

In [43]:
test_pred_gb=classifiers_gb.predict(x_test)
test_accu_gb=np.mean(test_pred_gb==y_test)##80%

#####From above Gassian Navies bayes contian more accuracy w.r.t. multinomial NB.|